.mainContainer{
    display: flex;
    gap: 20px;
    flex-direction: column;
}


@media screen and (max-width: 850px) {
    .mainContainer{
        justify-content: center;
        align-items: center;
    }
}