.contentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.carDiv{
    display: flex;
    align-items: end;
    width: 100%;
    .carSvg{
        height: 60%; 
        width: 100%; 
    }
}
.pageContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 30px;
    background: var(--bg-light-pink);
}
.errorNum{
    color:var(--text-green);
    font-weight: var(--font-bold);
    font-size: var(--text-xLarge);
}
.errorTitle{
    font-weight: var(--font-bold);
}
@media screen and (max-width:850px) {
    .pageContainer{
        flex-direction: column;
        justify-content: space-around;
    }
    .carDiv{
        justify-content: end;
        .carSvg{
            width: 70%;
            height: 100%;
        }
    }

}