.twoColumnGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.btnContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}