.twoColumnGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.btnContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media screen and (max-width: 850px) {
    .btnContainer{
        width: 100%;
    }
    .twoColumnGrid{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}